@import 'normalize.css';

$background-color: #27272c;
$green: #A733FA;
$purple: #A733FA;


.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0px;
  background-color: $background-color;
}

#logo {
  margin-top: 1em;
}

.page {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;

  grid-template-columns: 10% 80% 10%;
}

#profile {
  display: grid;
  border-radius: 50%;
  border: 10px solid white;
}

#bio {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
}

#PongCanvas {
  position: absolute;
  -webkit-animation: slide-left 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slide-left 1s forwards;
  animation-delay: 1s;
  transform: translateX(3000%);
  border: 5px solid white;
}

#PongCanvas:after {
  content: "";
  display: block;
  position: fixed; /* could also be absolute */ 
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2);
}

#arrow {
  position: absolute;
  top: 300px;
  left: 600px;
  animation: bounce;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce {
  0% { transform: rotate(-180deg); }
  100% { transform: rotate(0deg); }
}

@-webkit-keyframes slide-left {
      0% { transform: translateX(3000px); }
      100% { transform: translateX(100%); }
}

@keyframes slide-left {
      0% { transform: translateX(3000px); }
      100% { transform: translateX(100%); }
}

h1 {
  font-size: 72pt;
  color: #00F9A3;
  font-family: 'Baloo 2';
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 36pt;
  color: $purple;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 18pt;
}

h3, h4, h5, h6, p {
  color: #8F9E98;
  font-family: 'Montserrat', sans-serif;
}
h4, h5, h6, p {
  font-size: 14pt;
}

.card {
  background-color: darken($background-color, 10%);
  border: 1px solid #656568;
  grid-column-start: 2;
  padding: 1em;
  margin-top: 2em;
}

.card h1 {
  filter: opacity(100%);
}

hr {
  height: 10px;
  background:
    linear-gradient(
      to right,
      #34FAA8,
      #FAA733,
      $green
    );
  border: 0;
}







.navigation {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.navigation {
}


.card {
  background-color: darken($background-color, 10%);
  border: 1px solid #656568;
  grid-column-start: 2;
  padding: 1em;
}

.card h1 {
  filter: opacity(100%);
}

hr {
  height: 10px;
  background:
    linear-gradient(
      to right,
      #34FAA8,
      #FAA733,
      $green
    );
  border: 0;
}







.navigation {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.navigation {
}

.navigation button {
  display:inline-block;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  /*font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; */
  font-family: Courier, monospace;
  font-weight:300;
  color:white;
  text-align:center;
  border-top: 0;
  border-bottom: 0;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
    to bottom, 
    #34FAA8,
    #A733FA 
  ) 1 100%;
}

.navigation button:hover {
  border-top: 0;
  border-bottom: 0;
  color:#000000;
  background-image: 
    linear-gradient(
    to bottom, 
    #34FAA8,
    #A733FA 
  );
}

.navigation button:active {
  filter: brightness(50%);
}

.navigation button:hover {
}

@media all and (max-width:30em) {
  .navigation button {
    display: block;
    margin: 0.4em auto;
  }
}
